*{
    margin: 0%;
    padding: 0%;
}

body {
   height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(#28003e, #18056b);
    height:auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
    .column {
        width: 100%; /* عمود واحد بدل عمودين */
        float: none;
    }
}

/* أنماط للأجهزة الصغيرة جداً (مثل الهواتف) */
@media (max-width: 480px) {
    .header {
        display: none; /* إخفاء بعض العناصر */
    }
}
a{
    text-decoration: none;
    color: #fff;
}

header{
    position: absolute;
    width: 95%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo {
    font-size: 30px;
    text-transform: uppercase;
}
header ul
{
display: flex;
justify-content: center;
align-items: center;
list-style: none;
}
header ul li{
    margin-right: 30px;
}
header ul li a {
    padding: 6px 15px;
    border-radius :20px
}
header ul li a:hover, .active {
    background: #fff;
    color:#713e79;
}
.mine{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.mine::after{
 bottom: 0;
height: 100vh;
width: 100px;
background: linear-gradient(to top, #1a0554,transparent);
}

.mine img {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;

}
#moon{
    mix-blend-mode: screen;
}
.Fedaa{
    color: #ffffff;
    font-size: 20px;
    transform: translateY(-200px);
}

.content{
    color: #ffffff;

}
body div {
    height: 100vh;
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    padding: 14px 40px ;  
    justify-content: space-between;
 }    
.p3{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
font-weight: 900;
}

h3{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
font-weight: 900;
transform: translate(-50%, -50%);
}
button.sar{
    transform: translate(0px, -500px);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    text-align: center;
    background-color: #4b0770;
    color: white;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 90px;
   font-weight: 500;
   padding: 10px 20px;
   border-radius: 16px;
   display: inline-block;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.sar{
    display: flex;
    flex-direction: column; 
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
.sar:hover {
    box-shadow: 5px 0px 30px rgb(0, 0, 0); 
}
p{
    font-size: 20px;
    font-weight: 500%;
    margin: 20px;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
button.nar{
    transform: translate(-80px, -500px);
    text-align: center;
    background-color: #4b0770;
    color: white;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 80px;
   font-weight: 500;
   padding: 10px 30px;
   border-radius: 16px;
   display: inline-block;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}
.nar .audio-control {
    opacity: 0;
    height: auto; 
    width: fit-content; 
    min-width: 250px; 
    border-radius: 10px;
}
.nar:hover .audio-control{
    visibility: visible;
    opacity: 1;
    height: 30px;
    width: 50px;
    transition: opacity 0.8s ease, height 0.6s 2s;
}
.nar:hover{
        box-shadow: 5px 0px 30px rgba(163, 29, 29, 0.541);
        transition: opacity 0.8s ease, height 0.7s 2s;

}
.search{
     width: max-content;
    padding: 14px;
    border-radius: 20px;
    background: hsl(0, 0%, 100%);
    height: 50px;
    justify-content: center;
}
.search-input{
    align-items: center;
    justify-content: center;
    font-size: 16px;
   font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    color: #000000;
    margin-left: 200px;
    outline: none;
    border: none;
    background:transparent;
    flex: 1;
}
.p9{
    transform: translate(0px, -200px);
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}